<wm-page data-ng-controller="FinaPage1PageController" pagetitle="Fina Page 1" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">

            <wm-layoutgrid columns="1" name="layoutgrid4">
                <wm-gridrow name="gridrow135_1">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn173_2">
                        <wm-form errormessage="" captionposition="top" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="form1">
                            <wm-layoutgrid columns="1" name="layoutgrid4">
                                <wm-gridrow name="gridrow135_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn173_2">
                                        <wm-form-field displayname="Test1" widget="text" show="true" type="custom" name="form_field1"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn173">
                                        <wm-form-field displayname="test2" widget="text" show="true" type="custom" name="form_field2"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-form>

                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn173_2">

                        <wm-form errormessage="" captionposition="top" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="form2">
                            <wm-layoutgrid columns="1" name="layoutgrid4">
                                <wm-gridrow name="gridrow135_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn173_2">
                                        <wm-form-field displayname="Test1" widget="text" show="true" type="custom" name="form_field1"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn173">
                                        <wm-form-field displayname="test2" widget="text" show="true" type="custom" name="form_field2"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-form>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow135_1">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn173_2">
                        <wm-form errormessage="" captionposition="top" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="form3">
                            <wm-layoutgrid columns="1" name="layoutgrid4">
                                <wm-gridrow name="gridrow135_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn173_2">
                                        <wm-form-field displayname="Test1" widget="text" show="true" type="custom" name="form_field1"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn173">
                                        <wm-form-field displayname="test2" widget="text" show="true" type="custom" name="form_field2"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-form>

                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn173_2">

                        <wm-form errormessage="" captionposition="top" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="form4">
                            <wm-layoutgrid columns="1" name="layoutgrid4">
                                <wm-gridrow name="gridrow135_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn173_2">
                                        <wm-form-field displayname="Test1" widget="text" show="true" type="custom" name="form_field1"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn173">
                                        <wm-form-field displayname="test2" widget="text" show="true" type="custom" name="form_field2"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-form>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
</wm-page>