<wm-page data-ng-controller="testsPageController" pagetitle="Tests" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-form errormessage="" captionposition="top" title="Form" enctype="application/x-www-form-urlencoded" method="get" dataset="bind:Variables.UNIVERSAL_RATECountImAddresses.dataSet" captionalign="left" name="countImAddressesForm1" on-submit="countImAddressesForm1Submit($event, $scope, $formData)"
                on-beforesubmit="countImAddressesForm1Beforesubmit($event, $scope, $data)">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field readonly="false" name="q" displayname="Q" key="q" type="string" show="true" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup1">
                    <wm-button caption="Reset" type="reset" class="btn-secondary" name="button1"></wm-button>
                    <wm-button caption="Cancel" type="button" class="btn-warning" name="button2"></wm-button>
                    <wm-button caption="Save" type="submit" class="btn-primary" name="button3"></wm-button>
                </wm-buttongroup>
            </wm-form>
        </wm-page-content>
    </wm-content>
</wm-page>