<wm-page data-ng-controller="TestPagePageController" pagetitle="Test Page" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list" name="executeGetDriverByPolicyList1" navigation="Basic">
                <wm-listtemplate layout="inline" name="listtemplate1">
                    <wm-liveform errormessage="" title="Im_address Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.UNIVERSAL_RATEImAddressData.dataSet" captionalign="left" captionposition="top" name="ImAddressLiveForm1">
                        <wm-layoutgrid columns="3" name="layoutgrid1">
                            <wm-gridrow name="gridrow1">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn1">
                                    <wm-form-field name="addressType" displayname="Address Type" required="false" show="true" generator="assigned" primary-key="false" key="addressType" type="string" is-related="false" maxchars="25" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn2">
                                    <wm-form-field name="addressCode" displayname="Address Code" required="false" show="true" generator="assigned" primary-key="false" key="addressCode" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn3">
                                    <wm-form-field name="streetName" displayname="Street Name" required="false" show="true" generator="assigned" primary-key="false" key="streetName" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow2">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn4">
                                    <wm-form-field name="streetNumber" displayname="Street Number" required="false" show="true" generator="assigned" primary-key="false" key="streetNumber" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn5">
                                    <wm-form-field name="unitNumber" displayname="Unit Number" required="false" show="true" generator="assigned" primary-key="false" key="unitNumber" type="string" is-related="false" maxchars="25" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn6">
                                    <wm-form-field name="address2" displayname="Address2" required="false" show="true" generator="assigned" primary-key="false" key="address2" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow3">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn7">
                                    <wm-form-field name="city" displayname="City" required="false" show="true" generator="assigned" primary-key="false" key="city" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn8">
                                    <wm-form-field name="stateCode" displayname="State Code" required="false" show="true" generator="assigned" primary-key="false" key="stateCode" type="string" is-related="false" maxchars="8" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn9">
                                    <wm-form-field name="county" displayname="County" required="false" show="true" generator="assigned" primary-key="false" key="county" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow4">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn10">
                                    <wm-form-field name="zipCode5" displayname="Zip Code5" required="false" show="true" generator="assigned" primary-key="false" key="zipCode5" type="string" is-related="false" maxchars="5" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn11">
                                    <wm-form-field name="zipCode4" displayname="Zip Code4" required="false" show="true" generator="assigned" primary-key="false" key="zipCode4" type="string" is-related="false" maxchars="4" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn12">
                                    <wm-form-field name="phoneType" displayname="Phone Type" required="false" show="true" generator="assigned" primary-key="false" key="phoneType" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow5">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn13">
                                    <wm-form-field name="phoneNumberType" displayname="Phone Number Type" required="false" show="true" generator="assigned" primary-key="false" key="phoneNumberType" type="string" is-related="false" maxchars="20" pc-display="true"
                                        mobile-display="true" widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn14">
                                    <wm-form-field name="phoneNumber" displayname="Phone Number" required="false" show="true" generator="assigned" primary-key="false" key="phoneNumber" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn15">
                                    <wm-form-field name="extn" displayname="Extn" required="false" show="true" generator="assigned" primary-key="false" key="extn" type="string" is-related="false" maxchars="10" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow6">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn16">
                                    <wm-form-field name="email" displayname="Email" required="false" show="true" generator="assigned" primary-key="false" key="email" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn17">
                                    <wm-form-field name="prefContactMethod" displayname="Pref Contact Method" required="false" show="true" generator="assigned" primary-key="false" key="prefContactMethod" type="string" is-related="false" maxchars="25" pc-display="true"
                                        mobile-display="true" widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn18">
                                    <wm-form-field name="prefContactTime" displayname="Pref Contact Time" required="false" show="true" generator="assigned" primary-key="false" key="prefContactTime" type="string" is-related="false" maxchars="25" pc-display="true"
                                        mobile-display="true" widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow7">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn19">
                                    <wm-form-field name="validation" displayname="Validation" required="false" show="true" generator="assigned" primary-key="false" key="validation" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn20">
                                    <wm-form-field name="insertTimestamp" displayname="Insert Timestamp" required="false" show="true" generator="assigned" primary-key="false" key="insertTimestamp" type="datetime" is-related="false" pc-display="true" mobile-display="true"
                                        widget="datetime"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn21">
                                    <wm-form-field name="updateTimestamp" displayname="Update Timestamp" required="false" show="true" generator="assigned" primary-key="false" key="updateTimestamp" type="datetime" is-related="false" pc-display="true" mobile-display="true"
                                        widget="datetime"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow8">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn22">
                                    <wm-form-field name="updatedBy" displayname="Updated By" required="false" show="true" generator="assigned" primary-key="false" key="updatedBy" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn23">
                                    <wm-form-field name="insertedBy" displayname="Inserted By" required="false" show="true" generator="assigned" primary-key="false" key="insertedBy" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn24">
                                    <wm-form-field name="versionNum" displayname="Version Num" required="false" show="true" generator="assigned" primary-key="false" key="versionNum" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true"
                                        widget="number"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow9">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn25">
                                    <wm-form-field name="imPolicyInfo" displayname="Im Policy Info" required="false" show="true" generator="assigned" primary-key="false" key="imPolicyInfo" type="list" is-related="true" pc-display="true" mobile-display="true"
                                        widget="select"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn26"></wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn27"></wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                        <wm-form-field name="addressId" displayname="Address Id" required="true" show="false" generator="identity" primary-key="true" key="addressId" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                        <wm-form-action key="reset" class="form-reset btn-secondary" iconclass="wi wi-refresh" action="reset()" display-name="Reset" show="true" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                    <wm-form name="test1">
                        <wm-form-field name="firstName" readonly="false" type="string" show="true" widget="text" inputtype="text" placeholder="First Name" required="true" maxchars="25" regexp="^([a-zA-Z ]){2,25}$" validationmessage="Please enter Alphabetic Characters."></wm-form-field>
                        <wm-label padding="unset 0.5em" name="addressLine2" caption="test"></wm-label>
                        <wm-label padding="unset 0.5em" name="addressLine1" caption="test2323"></wm-label>
                        <wm-form-field name="firstName" readonly="false" type="string" show="true" widget="text" inputtype="text" placeholder="First Name" required="true" maxchars="25" regexp="^([a-zA-Z ]){2,25}$" validationmessage="Please enter Alphabetic Characters."></wm-form-field>
                    </wm-form>
                </wm-listtemplate>
            </wm-list>
        </wm-page-content>
    </wm-content>
</wm-page>